# model weights
saved_weights/
saved_weights/*.pt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582 project packages
__pypackages__/
__pycache__*

# Environments
.env
.venv
env/
venv/
ENV/

# pytype
.pytype/

# Operating System Files
.DS_Store
Thumbs.db
*.md

# IDEs
.idea/

# Tensorboard and Weights
events.out*
model_weights*
model_iteration_*
model_*.pt
experiment_*/

# Preprocessing input
*sample_*.pt